.shard-image {
  width: 30px;
  height: 30px;
}

.shard-name {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}
